.repo-selection-div {
    height: 5%;
    min-height: 60px;
    border-bottom: 1px solid var(--c-secondary-border);

}
.issue-list-div {
    height: 90%;
}
.issue-page-div {
    height: 5%;
    border-top: 1px solid var(--c-secondary-border);
}

.owner-name {
    color: var(--c-title);
    font-weight: bold;
}
